
	<div class="starter">

		<div class="topLine"><h2>We're uploading files.</h2></div>

		<div class="bottomLine"><h3>Pick which page you would like to check out.</h3></div>

		<div class="firstPage"><h3>Take me to the <a href="/Upload">upload</a> page.</h3></div>

		<div class="anotherPage"><h3>Take me to the <a href="/DisplayFiles">display</a> page.</h3></div>		

	</div>