
	<div class="starter">

		<div class="topLine"><h2>Pick the files to upload.</h2></div>

		<form class="formUploads" action="/Upload/File" method="POST" enctype="multipart/form-data">
				<input type="file" id="singleInput" name="singleInput" accept=".jpeg, .jpg, .png, .gif">

				<button type="submit" id="singleButton" class="uploadButton">Upload a single file</button>
		</form>

		<form class="formUploads" action="/Upload/Files" method="POST" enctype="multipart/form-data">
				<input type="file" id="multiInput" name="multiInput" accept=".jpeg, .jpg, .png, .gif" multiple>

				<button type="submit" id="multiButton" class="uploadButton">Upload all files</button>
		</form>

		<div class="firstPage"><h3>Take me to the <a href="/DisplayFiles">display</a> page.</h3></div>

		<div class="anotherPage"><h3>Take me <a href="/">home</a>.</h3></div>

	</div>